<li class='card'>
  <div class='card__tumb'>
    <img class='card__image' src='{{foto_url}}' alt='{{name}}' />
  </div>
  <h3 class='card__title'>{{name}}</h3>
  <ul class='refs'>
    <li class='refs__item'>
      <a href='{{githab}}' class='refs__link githab'></a>
    </li>
    <li class='refs__item'>
      <a href='{{telegramm}}' class='refs__link telergam'></a>
    </li>
    <li class='refs__item'>
      <a href='{{linkidin}}' class='refs__link linkidin'></a>
    </li>
  </ul>
</li>